streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain-google-genai==0.0.19
langchain-community==0.0.205
fastapi
uvicorn
python-multipart
gunicorn
PyMuPDF
requests
googletrans
